validationpoc/src/main/app/validationsdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="validationsdemoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/validate" allowedMethods="POST" doc:name="HTTP"/>
        <json:json-to-object-transformer returnClass="java.util.Map" doc:name="JSON to Object"/>
        <logger message="Invoking validations demo api and recieved payload is : #[payload]" level="INFO" doc:name="Entry Log"/>
        <expression-component doc:name="Expression"><![CDATA[java.lang.Thread.sleep(100000);
flowVars.address = payload.Address ? psyload.address != null : "USA";
flowVars.FirstVariable = 100;
flowVars.FirstVariable = 100;
flowVars.FirstVariable = 100;
flowVars.FirstVariable = 100;]]></expression-component>
        <validation:is-null message="Customer phone required" value="#[payload.CustomerPhone]" doc:name="Validation"/>
        <choice-exception-strategy doc:name="Choice Exception Strategy">
            <catch-exception-strategy when="#[exception.causedBy(org.mule.extension.validation.api.ValidationException)]" doc:name="Catch Exception Strategy">
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            </catch-exception-strategy>
            <catch-exception-strategy doc:name="Catch Exception Strategy">
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"Status":500,
	"Message":"Internal server error"
}]]></dw:set-payload>
                </dw:transform-message>
                <set-property propertyName="http.status" value="500" doc:name="Property"/>
                <properties-transformer doc:name="Property"/>
            </catch-exception-strategy>
        </choice-exception-strategy>
    </flow>
</mule>
