loan-app-project/target/classes/mainflows/ResetUserPassword.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
<flow name="post:/resetpassword:loneapplication-config">
        <json:json-to-object-transformer returnClass="java.util.Map" doc:name="JSON to Object"/>
        <logger message="Receiving data After Mapping like:#[payload]" level="INFO" doc:name="Entry Log"/>
        <validation:all doc:name="Validation">
            <validation:validations>
                <validation:is-email email="#[payload.email]" message="Invalid Email Address"/>
                <validation:is-not-empty value="#[payload.password]" message="Enter Password"/>
                <validation:is-not-empty value="#[payload.username]" message="Enter UserName"/>
            </validation:validations>
        </validation:all>
        <flow-ref name="UpdataingDataBase" doc:name="UpdataingDataBase"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---

	payload
]]></dw:set-payload>
        </dw:transform-message>
        <logger message="After Updating Payload with email as:#[payload]" level="INFO" doc:name="Updated Payload"/>
        <choice doc:name="CheckingCondition">
            <when expression="payload.size() &lt;0">
                <dw:transform-message doc:name="Success Response">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"Status" : 200,
    "Message" : "Success"

}]]></dw:set-payload>
                </dw:transform-message>
                <set-property propertyName="http.Status" value="200" doc:name="Status Header"/>
                <set-property propertyName="http.Response" value="Success" doc:name="Response Header"/>
            </when>
            <otherwise>
                <dw:transform-message doc:name="BadResponse">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"Status": 400,
    "Message" : "Invalid UserName/Password"

}]]></dw:set-payload>
                </dw:transform-message>
                <set-property propertyName="http.Status" value="400" doc:name="Status Header"/>
                <set-property propertyName="http.Response" value="Invalid UserName/Password" doc:name="Response Header"/>
            </otherwise>
        </choice>
    </flow>
</mule>
